* {
   
    font-size: 25px;
    background-attachment: fixed;
    font-style: italic;
    font: bold;
   

}
.navbar-brand{
    color: #00000097;


}

.nav-link {
    color: #000000;
    margin-right: 80px;
    transition: transform 0.4s ease-in-out;
    border: none;
    position: relative;

}
.nav-link:hover{
    color: #cbad6c;
}


.nav-link:hover {
    color: #cbad6c;
    transform: scale(1.05);
    
}


